<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c{1.} [%t] %X{sessionId} %X{txnId} %m%n"/>
    </Console>
    <RollingFile name="ROLLING_FILE" fileName="${sys:logDir}/logs/buggyapp.log" filePattern="${sys:logDir}//logs//$${date:yyyy-MM}/buggyapp-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%d %p %c{1.} [%t] %X{sessionId} %X{txnId} %m%n"/>
		<Policies>
			<!-- <OnStartupTriggeringPolicy /> -->
			<TimeBasedTriggeringPolicy />
			<!-- <SizeBasedTriggeringPolicy size="250 MB" />  -->
		</Policies>
		<DefaultRolloverStrategy max="30"/>
    </RollingFile>
    <Async name="ASYNC">
      <AppenderRef ref="ROLLING_FILE"/>
      <AppenderRef ref="CONSOLE"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="ASYNC"/>
    </Root>
  </Loggers>
 </Configuration>